.mci {
  width: 24px; height: 24px; text-align: center; font-size: 9px; font-weight: 700;
  padding: 0; border: none; background: transparent; border-radius: 3px;
}
.mci:focus { outline: none; background: rgba(255,255,255,0.04); }